/* shared styles over the website */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    font-size: 20px;
    /* font-style: normal; */
    font-weight: 700;
    color: #FFFFFF;
    padding: 20px 43px;
}

.welcome-page {
    background: #FCEEF1;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 708px;
}

.banner-title {
    color: #272727;
    font-size: 65px;
    font-weight: 800;
    /* max-width: 708px; */
    margin-top: 0;
    margin-bottom: 20px;

    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
}

.banner-description {
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;

    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.welcome-picture {
    width: 535px;
    height: 600px;
}

/* Featured Page styles */

.featured-page {
    align-items: center;
    margin-top: 50px;
}

.featured-text {

    align-items: center;
    text-align: center;
}

.featured-images {
    display: flex;
    justify-content: space-between;
    margin: 48px 240px 30px 240px;
}

.featuredimg-1 {

    background: #A7216226;
    border-radius: 300px 300px 0px 0px;
}
.featuredimg-2 {

    background: #0597A026;
    border-radius: 300px 300px 0px 0px;
}
.featuredimg-3 {

    background: #477D1126;
    border-radius: 300px 300px 0px 0px;
}

.commitment{
    background: #2727270D;
    display: flex;
    justify-content: space-between;
    margin: 128px 240px 30px 240px;
    /* width: 720px; */
    /* height: 320px; */
    border-radius: 8px;
}

/* hot Deals Section */

.hot_deals{
    background: #E554730D;
}

.hd_banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hdbanner-content {
    max-width: 708px;
}

.hdbanner-title {
    color: #272727;
    font-size: 65px;
    font-weight: 800;
    /* max-width: 708px; */
    margin-top: 0;
    margin-bottom: 20px;

    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
}

.hdbanner-description {
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;

    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.hd-picture {
    width: 535px;
    height: 600px;
}


/* Instagram section */

.insta-page {
    align-items: center;
    margin-top: 50px;
}

.insta-text {

    align-items: center;
    text-align: center;
}

.insta-images {
    display: flex;
    justify-content: space-between;
    /* margin: 48px 240px 30px 240px; */
}

.instaimg-1 {

    background: #A7216226;
    margin-right: 24px;
    /* border-radius: 300px 300px 0px 0px; */
}
.instaimg-2 {

    background: #0597A026;
    margin-right: 24px;
    /* border-radius: 300px 300px 0px 0px; */
}
.instaimg-3 {

    background: #477D1126;
    margin-right: 24px;
    /* border-radius: 300px 300px 0px 0px; */
}
.instaimg-4 {

    background: #477D1126;
    margin-right: 24px;
    /* border-radius: 300px 300px 0px 0px; */
}

.regi-content{
    /* display: flex; */
    background-image: url('../Flower asset/Rectangle\ 9.png');
    align-items: center;
    text-align: center;
}

.footer{
    align-items: center;
    background-color:#111010;
    color: #FFFFFF;
    text-align: center;
}