* {
    margin: 0;
}

/* shared styles over the website */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

.btn-primary {
    border-radius: 5px;
    background: #E55473;
    border: 0;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 12px 26px;
    height: 40px;
}

.primary-text {
    color: #E55473;

}

.welcome-page {
    background: #FCEEF1;
}

.banner {
    padding: 50px 20px 20px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 708px;
}

.banner-title {
    color: #272727;
    font-size: 45px;
    font-weight: 800;
    /* max-width: 708px; */
    /* margin-top: 0; */
    /* margin-bottom: 20px; */

    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
}

.banner-description {
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;

    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.welcome-picture {
    width: 535px;
    height: 600px;
}

/* Featured Page styles */

.featured-page {
    align-items: center;
    margin-top: 50px;
}

.featured-text {

    align-items: center;
    text-align: center;
}

.featured-images {
    display: flex;
    /* position: absolute ; */
    justify-content: space-between;
    margin: 48px 240px 30px 240px;
}

.featuredimg-1 {

    background: #A7216226;
    border-radius: 300px 300px 0px 0px;
}

.featuredimg-2 {

    background: #0597A026;
    border-radius: 300px 300px 0px 0px;
}

.featuredimg-3 {

    background: #477D1126;
    border-radius: 300px 300px 0px 0px;
}

.commitment {
    background: #2727270D;
    display: flex;
    justify-content: space-between;
    margin: 128px 240px 30px 240px;
    /* width: 720px; */
    /* height: 320px; */
    border-radius: 8px;
}

/* hot Deals Section */

.hot_deals {
    background: #E554730D;
}

.hd_banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hdbanner-content {
    max-width: 708px;
}

.hdbanner-title {
    color: #272727;
    font-size: 65px;
    font-weight: 800;
    /* max-width: 708px; */
    margin-top: 0;
    margin-bottom: 20px;

    display: flex;
    width: 708px;
    flex-direction: column;
    flex-shrink: 0;
}

.hdbanner-description {
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;

    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.hd-picture {
    width: 535px;
    height: 600px;
}


/* Instagram section */

.insta-page {
    align-items: center;
    /* margin-top: 50px; */
}

.insta-text {

    align-items: center;
    text-align: center;
}

.insta-title {
    font-size: 30px;
    margin-top: 50px;
}

.insta-description {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;

}

.insta-images {

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 3px 3px;
    height: auto;
    width: auto;
}


.regi-content{

    align-items: center;
    justify-content: center;
    text-align: center;
    /* height: 150px; */
    padding: 200px 40px;
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0px 140px;
    border-radius: 8px; 
}

.emailfield{
   width: 500px;
   height: 38px;
   border-radius: 5px;
   border: none;
   margin-right: 7px;
}

input::placeholder {
    font-size: 10px;
    padding: 0px 0px 0px 8px;
    opacity: 70%;
}

.footer {

    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #111010;
    color: white;
    padding: 7.5% 7.5%;
}

.foot-title {
    color: #FFFFFF;
    font-size: 28px;
    margin-bottom: 20px;
}
    

.footer-description {
    
    align-items:center;
    color: #FFFFFFE5;
    text-align: center;
    font-size: 10px;
    opacity: 90%;
}

.rights {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    margin-top: 20px;
    opacity: 60%;
}